@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* base styles */
body {
  background: #eee;
  font-family: 'Roboto';
  color: #444;
  max-width: 960px;
  margin: 100px auto;
  padding: 10px;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav h1 {
  margin: 0;
}
nav a {
  color: white;
  text-decoration: none;
  background: #36cca2;
  padding: 10px;
  border-radius: 10px;
}
form {
  max-width: 500px;
}
input, textarea {
  display: block;
  margin: 16px 0;
  padding: 6px 10px;
  width: 100%;
  border: 1px solid #ddd;
  font-family: 'Roboto';
}
textarea {
  min-height:200px;
}


/*CSS for All the posts */

.posts{
  max-width: 750px;
  background-color: white;
  padding: 20px;
  margin: 20px 0px;
  border-radius: 20px;
}
.posts h2{
  font-size: 30px;
  color: rgb(80, 80, 192);
  margin: 0;
}
.posts a{
  text-decoration: none;
  display: flex;
  justify-content: end;
}
.posts p{
  margin-top: 0px;
}

/* CSS for single post */

.single-post{
  max-width: 850px;
  background-color: white;
  padding: 20px;
  margin: 20px 0px;
  border-radius: 20px;    
}
.single-post h2{
  font-size: 30px;
  color: rgb(80, 80, 192);
  margin: 0;
}
.single-post a{
  text-decoration: none;
  display: flex;
  justify-content: end;
}
.single-post p{
  margin-top: 0px;
}
.btn{
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #575757;
    padding: 10px;  
    border-radius: 10px;
    color: white;
    font-size: larger;
}